<% if (user.google.id != null) { %>
  <h2 class="fa fa-google-plus"> Google</h2><br>
  <img src="https://avatars.io/gravatar/<%= user.google.email %>/140" class="img-circle"><br>
  <strong>id</strong>: <%= user.google.id %><br>
  <strong>token</strong>: <%= user.google.token %><br>
  <strong>email</strong>: <%= user.google.email %><br>
  <strong>name</strong>: <%= user.google.name %>
<% } %> 
